.customTileBox {
    background: #ddd;
    padding: 4px 8px;
    width: 180px;
    height: auto;
    border-radius: 4px;
    float: left;
    margin: 4px;
}

.docProfile {
    width: 60px;
    margin: auto;

}

.docProfile img {
    margin: auto;
}

h1 {
    text-align: center;
}